<div class="row row-cols-1 row-cols-md-3 g-4">
    @for(movie of allMovies;track movie.id){
    <!-- <app-movies  [movieId]="item.id"></app-movies> -->
    <div class="col">
        <!-- <a> -->
            <div class="card">
                <img [src]="'http://image.tmdb.org/t/p/w500/'+movie.poster_path" class="card-img-top"
                    alt={{movie.title}}>
                <div class="card-body">
                    <h5 class="card-title">{{movie.title}}</h5>
                    <!-- directive -->
                    <p class="card-text"> {{movie.overview}}</p>

                    <!-- <a class="btn btn-success m-1" (click)="goDetails(movie.id)">Details</a> -->
                     <a class="btn btn-success m-1" [routerLink]="['/details', movie.id]">Details</a>

                    <button class="btn btn-primary">watch</button>

                    <div>{{movie.release_date|date:'short'}}</div>
                    <!-- <app-movie-rating [rating]="movie.vote_average/2"></app-movie-rating> -->

                    <!-- <button (click)="watch(movie.title)"></button> -->
                </div>
            </div>
        <!-- </a> -->
    </div>}
</div>